<div class="page-header"><%= @scientist.name %></div>

<div id="information">
  <div class="section-header">Information about this scientist:</div>
  <div class="information-item">Specialty: <%= @scientist.specialty %></div>
  <div class="information-item">University: <%= @scientist.university %></div>
  <div class="information-item">This scientist works in the <%= @scientist.lab.name %></div>
</div>

<div id="experiments">
  <div class="section-header">Experiments this scientist is working on:</div>
  <ul class="information-list">
    <% @scientist.experiments.each do |experiment| %>
      <li id="experiment-<%= experiment.id %>">
        <div class="line-item-info">&ndash; <%= experiment.name %></div>
        <%= form_with url: scientist_experiment_path(experiment.scientist_experiment(@scientist)), method: :delete, class: "remove-form" do |form| %>
          <%= form.submit "remove" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>