<h1><%= @scientist.name %>'s Show Page</h1>

<div id="scientist-info">
  <p>Scientist Name: <%= @scientist.name %></p>
  <p>Scientist Specialty: <%= @scientist.specialty %></p>
  <p>University: <%= @scientist.university %></p>
  <p>Lab: <%= @scientist.lab.name %></p>
  </div>

  <div id="scientist-experiments">
    <% @experiments.each do |experiment| %>
      <ol>
        <li><%= experiment.name %></li>
      </ol>
    <% end %>
  </div>

