<h1> <%= @scientist.name %> </h1>

Speialty: <%= @scientist.specialty %><br>
University: <%= @scientist.university %><br>
Lab Name: <%= @scientist.lab.name %><br>
<h4>Experiments: </h4>
<% @scientist.experiments.each do |experiment| %>
<div id=<%="experiment-#{experiment.id}" %>>
<ul>
  <%= experiment.name %>
  <%= button_to "Remove #{experiment.name}", scientist_experiment_path(@scientist, experiment), method: :delete %> </p>
</ul>
</div>
<% end %>
