<h1><%= @scientist.name %></h1>
<p>Specialty: <%= @scientist.specialty %></p>
<p>University: <%= @scientist.university %></p>
<p>Lab: <%= @scientist.lab.name %></p>

<h2>Experiments:</h2>
<ul>
  <% @experiments.each do |experiment| %>
    <li><%= experiment.name %></li>
    <%= button_to "Remove #{experiment.name}", science_experiments_path(@scientist, experiment), method: :delete %>
  <% end %>
</ul>