<p>Name: <%= @scientist.name %></p>
<p>Specialty: <%= @scientist.specialty %></p>
<p>University: <%= @scientist.university %></p>
<p>Lab: <%= @scientist.lab.name %></p>
<% @scientist.experiments.each do |experiment| %>
  <p>Experiment: <%= experiment.name %></p>
<% end %>
