<h1><%= @scientist.name %></h1>
<h2>Specialty: <%= @scientist.specialty %></h2>
<h2>University: <%= @scientist.university %></h2>
<h3>Lab: <%= @scientist.lab.name %></h3>
    <h2>Experiments:</h2>
    <ul>
      <% @scientist.experiments.each do |experiment|%>
      <li><%= experiment.name %> <%= button_to "Remove", remove_experiment_path(scientist_id: @scientist.id, experiment_id: experiment.id), method: :delete%></li>

      <% end %>
    </ul>